<div class="container">
  <app-title title="Mudança de Senha"></app-title>
  <form #f="ngForm" class="card" (ngSubmit)="handleSubmit(f)">
    <mat-form-field appearance="fill">
      <mat-label>Senha Antiga</mat-label>
      <input matInput required [type]="hide ? 'password' : 'text'" name="oldPassword" [(ngModel)]="passwordBody.oldPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide" type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nova Senha</mat-label>
      <input matInput required [type]="hide ? 'password' : 'text'" name="newPassword" [(ngModel)]="passwordBody.newPassword">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide" type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <footer class="card-footer">
      <button mat-raised-button color="accent" type="submit">
        Salvar
      </button>
      <button mat-raised-button color="warn" type="button" (click)="voltar(f)">
        Voltar
      </button>
    </footer>
  </form>

</div>
